<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Recommended Products
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="openCart()">
                <ion-badge color="dark" *ngIf="cart.length > 0">{{cart.length}}</ion-badge>
                <ion-icon name="cart" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div *ngFor="let cat of items" class="category-block">

        <ion-row no-padding class="category-banner">
            <ion-col text-left button tappable (click)="cat.expanded = !cat.expanded" align-self-center>
                {{cat.category}}
            </ion-col>
        </ion-row>

        <ion-slides [options]="sliderConfig">
            <ion-slide *ngFor="let product of cat.products">
                <div *ngIf="!cat.expanded">
                    <ion-card>
                        <ion-card-header>
                            <ion-card-title>
                                {{product.name}} - {{product.price | currency:'INR':'symbol'}}
                            </ion-card-title>
                            <ion-card-content>
                                <img src="{{objectStorageAccess.baseUrl}}{{product.img}}" height="256" width="256">
                                <br />
                                <p>Dimensions: {{product.height}} cm x {{product.width}} cm</p>
                                <ion-button expand="block" (click)="addToCart(product)" color="success">Add to Cart</ion-button>
                                <ion-button expand="block" (click)="tryvirtually(product.img,cat.type,product.height,product.width)" color="primary">Try on Virtual Mirror</ion-button>
                            </ion-card-content>
                        </ion-card-header>
                    </ion-card>
                </div>
            </ion-slide>
        </ion-slides>

    </div>
</ion-content>