.myimg{
    float: left;
  height: 200px;
  margin-right: 30px;
  width: 200px;
}
ion-badge {
  color: #fff;
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 100%;
}

.category-block {
  margin-bottom: 4px;
}

.category-banner {
  border-left: 8px solid var(--ion-color-success);
  background: var(--ion-color-light);
  height: 40px;
  padding: 10px;
  font-weight: 500;
}