<ion-header>
  <ion-toolbar>
    <ion-title>
      The Jewellery Store
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-card>
      <ion-card-content>
        <ion-card-subtitle>Step 1: Enter your Name</ion-card-subtitle>

          <ion-input autocomplete="on" [(ngModel)]="name" placeholder="Click here to enter NAME"></ion-input>
          
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-card-subtitle>Step 2: Enter your Age</ion-card-subtitle>

        <ion-input autocomplete="on" [(ngModel)]="age" placeholder="Click here to enter AGE"></ion-input>
          
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-card-subtitle>Step 3: Enter your Gender</ion-card-subtitle>
        <ion-list>
          <ion-radio-group [(ngModel)]="gender">
            <ion-item>
              <ion-label>Male</ion-label>
              <ion-radio slot="start" value="M" checked></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Female</ion-label>
              <ion-radio slot="start" value="F"></ion-radio>
            </ion-item> 
          </ion-radio-group>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-button expand="block" (click)="getRecommendations()" color="dark"><ion-ripple-effect></ion-ripple-effect>Submit</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>
 
</ion-content>