<ion-header>
  <ion-toolbar>
    <ion-title>
      The Jewellery Store
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-card *ngIf="manualdetails == false">
      <ion-card-content>
        <ion-card-subtitle>Take User Details Automatically (Recommended)</ion-card-subtitle>
        <ion-item>
          <ion-label position="floating">Name: </ion-label>
          <ion-input autocomplete="on" [(ngModel)]="name"></ion-input>
        </ion-item>
        <ion-item *ngFor="let item of result">
            <ion-input autocomplete="on" [(ngModel)]="age"></ion-input>
            <ion-input autocomplete="on" [(ngModel)]="gender"></ion-input>
        </ion-item>
        <ion-button *ngIf="flag == false" expand="block" (click)="presentActionSheet()" color="dark">
          <ion-ripple-effect></ion-ripple-effect>Proceed
        </ion-button>
        <ion-button *ngIf="flag2 == true" expand="block" (click)="getRecommendations()" color="dark">
          <ion-ripple-effect></ion-ripple-effect>Get Recommendations
        </ion-button>
        <ion-button *ngIf="flag2 == true" expand="block" (click)="presentActionSheet()" color="secondary">
          <ion-ripple-effect></ion-ripple-effect>Retake ?
        </ion-button>
        <ion-card-subtitle *ngIf="manualdetails == false"> Enter User Details Manually <a [(ngModel)]="manualdetails"
            (click)="inputMethod(true)">Click here.</a></ion-card-subtitle>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="manualdetails == true">
      <ion-card-content>
        <ion-card-subtitle>Enter User Details Manually</ion-card-subtitle>
        <ion-item>
          <ion-label position="floating">Name: </ion-label>
          <ion-input autocomplete="on" [(ngModel)]="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Age: </ion-label>
          <ion-input autocomplete="on" [(ngModel)]="age"></ion-input>
        </ion-item>
        <ion-list>
          <ion-radio-group [(ngModel)]="gender">
            <ion-list-header>
              <ion-label>Gender: </ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label>Male</ion-label>
              <ion-radio slot="start" value="M" checked></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Female</ion-label>
              <ion-radio slot="start" value="F"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
        <ion-button expand="block" (click)="getRecommendations()" color="dark">
          <ion-ripple-effect></ion-ripple-effect>Submit
        </ion-button>
        <ion-card-subtitle *ngIf="manualdetails == true">Take User Details Automatically (Recommended) <a [(ngModel)]="manualdetails"
          (click)="inputMethod(false)">Click here.</a></ion-card-subtitle>
      </ion-card-content>
    </ion-card>

  </ion-list>
  <ion-list>

  </ion-list>
</ion-content>